In [1]:
import pandas as pd
#import geopandas as gpd

import datetime as dt

In [2]:
data=pd.read_csv("static/data/new_data.csv")
data

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,lat,long,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3429348,A-3436071,Bing,NaN,2,12/29/2020 16:15,12/29/2020 23:32,34.229923,-117.211105,34.231439,...,False,False,False,False,False,False,Day,Day,Day,Day
1,3804311,A-3811172,Bing,NaN,2,10/19/2019 18:46,10/19/2019 22:01,34.035712,-118.170145,34.035712,...,False,False,False,False,False,False,Night,Night,Day,Day
2,3380099,A-3386170,Bing,NaN,2,11/21/2020 8:43,11/21/2020 12:30,38.617427,-121.355262,38.617420,...,False,False,False,False,False,False,Day,Day,Day,Day
3,3003577,A-3004433,Bing,NaN,2,11/20/2020 13:18,11/20/2020 15:23,34.019522,-118.180044,34.014963,...,False,False,False,False,False,False,Day,Day,Day,Day
4,1218502,A-1218605,MapQuest,201.0,3,9/16/2019 18:56,9/16/2019 20:04,32.253761,-80.846718,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3530355,A-3537153,Bing,NaN,1,6/8/2020 15:30,6/8/2020 16:15,32.323240,-111.037420,32.323240,...,False,False,False,False,True,False,Day,Day,Day,Day
4996,3115346,A-3117788,Bing,NaN,2,12/9/2020 5:35,12/9/2020 6:50,30.997019,-87.488640,30.997953,...,False,False,False,False,False,False,Night,Night,Night,Day
4997,964731,A-964825,MapQuest,201.0,2,2/21/2020 17:07,2/21/2020 18:40,35.232368,-80.833382,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4998,935077,A-935170,MapQuest,201.0,3,2/5/2020 8:02,2/5/2020 8:31,33.427868,-112.036263,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
4999,3292761,A-3297731,Bing,NaN,2,10/15/2020 3:02,10/19/2020 23:47,44.705804,-118.118208,44.717334,...,False,False,False,False,False,False,Night,Night,Night,Night

In [3]:
#create summery from new data(state,accident counts,sevierity average)

In [ ]:
#create table in database
#load summery data in table

In [ ]:
#load us_states.geojson file
# convert to dictionary
#loop through summary data from table
#dictionay data. fearture.properties.name=

In [ ]:
def getStatename(abb):
    if abb=="AL":return("Alabama")

In [4]:
data.columns

Index(['Unnamed: 0', 'ID', 'Source', 'TMC', 'Severity', 'Start_Time',
       'End_Time', 'lat', 'long', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [ ]:
data['State'].describe()

In [5]:
new=data['Start_Time'].str.split(" ",n=1,expand=True)
data['date']=new[0]
data

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,lat,long,End_Lat,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,date
0,3429348,A-3436071,Bing,NaN,2,12/29/2020 16:15,12/29/2020 23:32,34.229923,-117.211105,34.231439,...,False,False,False,False,False,Day,Day,Day,Day,12/29/2020
1,3804311,A-3811172,Bing,NaN,2,10/19/2019 18:46,10/19/2019 22:01,34.035712,-118.170145,34.035712,...,False,False,False,False,False,Night,Night,Day,Day,10/19/2019
2,3380099,A-3386170,Bing,NaN,2,11/21/2020 8:43,11/21/2020 12:30,38.617427,-121.355262,38.617420,...,False,False,False,False,False,Day,Day,Day,Day,11/21/2020
3,3003577,A-3004433,Bing,NaN,2,11/20/2020 13:18,11/20/2020 15:23,34.019522,-118.180044,34.014963,...,False,False,False,False,False,Day,Day,Day,Day,11/20/2020
4,1218502,A-1218605,MapQuest,201.0,3,9/16/2019 18:56,9/16/2019 20:04,32.253761,-80.846718,NaN,...,False,False,False,False,False,Day,Day,Day,Day,9/16/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3530355,A-3537153,Bing,NaN,1,6/8/2020 15:30,6/8/2020 16:15,32.323240,-111.037420,32.323240,...,False,False,False,True,False,Day,Day,Day,Day,6/8/2020
4996,3115346,A-3117788,Bing,NaN,2,12/9/2020 5:35,12/9/2020 6:50,30.997019,-87.488640,30.997953,...,False,False,False,False,False,Night,Night,Night,Day,12/9/2020
4997,964731,A-964825,MapQuest,201.0,2,2/21/2020 17:07,2/21/2020 18:40,35.232368,-80.833382,NaN,...,False,False,False,True,False,Day,Day,Day,Day,2/21/2020
4998,935077,A-935170,MapQuest,201.0,3,2/5/2020 8:02,2/5/2020 8:31,33.427868,-112.036263,NaN,...,False,False,False,False,False,Day,Day,Day,Day,2/5/2020
4999,3292761,A-3297731,Bing,NaN,2,10/15/2020 3:02,10/19/2020 23:47,44.705804,-118.118208,44.717334,...,False,False,False,False,False,Night,Night,Night,Night,10/15/2020

In [10]:
day=data['date'].str.split("/",n=1,expand=True)
data['month']=day[1]
data

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,lat,long,End_Lat,...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,date,month
0,3429348,A-3436071,Bing,NaN,2,12/29/2020 16:15,12/29/2020 23:32,34.229923,-117.211105,34.231439,...,False,False,False,False,Day,Day,Day,Day,12/29/2020,29/2020
1,3804311,A-3811172,Bing,NaN,2,10/19/2019 18:46,10/19/2019 22:01,34.035712,-118.170145,34.035712,...,False,False,False,False,Night,Night,Day,Day,10/19/2019,19/2019
2,3380099,A-3386170,Bing,NaN,2,11/21/2020 8:43,11/21/2020 12:30,38.617427,-121.355262,38.617420,...,False,False,False,False,Day,Day,Day,Day,11/21/2020,21/2020
3,3003577,A-3004433,Bing,NaN,2,11/20/2020 13:18,11/20/2020 15:23,34.019522,-118.180044,34.014963,...,False,False,False,False,Day,Day,Day,Day,11/20/2020,20/2020
4,1218502,A-1218605,MapQuest,201.0,3,9/16/2019 18:56,9/16/2019 20:04,32.253761,-80.846718,NaN,...,False,False,False,False,Day,Day,Day,Day,9/16/2019,16/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3530355,A-3537153,Bing,NaN,1,6/8/2020 15:30,6/8/2020 16:15,32.323240,-111.037420,32.323240,...,False,False,True,False,Day,Day,Day,Day,6/8/2020,8/2020
4996,3115346,A-3117788,Bing,NaN,2,12/9/2020 5:35,12/9/2020 6:50,30.997019,-87.488640,30.997953,...,False,False,False,False,Night,Night,Night,Day,12/9/2020,9/2020
4997,964731,A-964825,MapQuest,201.0,2,2/21/2020 17:07,2/21/2020 18:40,35.232368,-80.833382,NaN,...,False,False,True,False,Day,Day,Day,Day,2/21/2020,21/2020
4998,935077,A-935170,MapQuest,201.0,3,2/5/2020 8:02,2/5/2020 8:31,33.427868,-112.036263,NaN,...,False,False,False,False,Day,Day,Day,Day,2/5/2020,5/2020
4999,3292761,A-3297731,Bing,NaN,2,10/15/2020 3:02,10/19/2020 23:47,44.705804,-118.118208,44.717334,...,False,False,False,False,Night,Night,Night,Night,10/15/2020,15/2020

In [12]:

year=data['month'].str.split("/",n=1,expand=True)
data['Year']=year[1]
data

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,lat,long,End_Lat,...,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,date,month,Year
0,3429348,A-3436071,Bing,NaN,2,12/29/2020 16:15,12/29/2020 23:32,34.229923,-117.211105,34.231439,...,False,False,False,Day,Day,Day,Day,12/29/2020,29/2020,2020
1,3804311,A-3811172,Bing,NaN,2,10/19/2019 18:46,10/19/2019 22:01,34.035712,-118.170145,34.035712,...,False,False,False,Night,Night,Day,Day,10/19/2019,19/2019,2019
2,3380099,A-3386170,Bing,NaN,2,11/21/2020 8:43,11/21/2020 12:30,38.617427,-121.355262,38.617420,...,False,False,False,Day,Day,Day,Day,11/21/2020,21/2020,2020
3,3003577,A-3004433,Bing,NaN,2,11/20/2020 13:18,11/20/2020 15:23,34.019522,-118.180044,34.014963,...,False,False,False,Day,Day,Day,Day,11/20/2020,20/2020,2020
4,1218502,A-1218605,MapQuest,201.0,3,9/16/2019 18:56,9/16/2019 20:04,32.253761,-80.846718,NaN,...,False,False,False,Day,Day,Day,Day,9/16/2019,16/2019,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3530355,A-3537153,Bing,NaN,1,6/8/2020 15:30,6/8/2020 16:15,32.323240,-111.037420,32.323240,...,False,True,False,Day,Day,Day,Day,6/8/2020,8/2020,2020
4996,3115346,A-3117788,Bing,NaN,2,12/9/2020 5:35,12/9/2020 6:50,30.997019,-87.488640,30.997953,...,False,False,False,Night,Night,Night,Day,12/9/2020,9/2020,2020
4997,964731,A-964825,MapQuest,201.0,2,2/21/2020 17:07,2/21/2020 18:40,35.232368,-80.833382,NaN,...,False,True,False,Day,Day,Day,Day,2/21/2020,21/2020,2020
4998,935077,A-935170,MapQuest,201.0,3,2/5/2020 8:02,2/5/2020 8:31,33.427868,-112.036263,NaN,...,False,False,False,Day,Day,Day,Day,2/5/2020,5/2020,2020
4999,3292761,A-3297731,Bing,NaN,2,10/15/2020 3:02,10/19/2020 23:47,44.705804,-118.118208,44.717334,...,False,False,False,Night,Night,Night,Night,10/15/2020,15/2020,2020

In [ ]:
data.describe()

In [ ]:
avg_severity_data=data.groupby(['State'])['Severity'].mean()

In [ ]:
data['State'].value_counts()

In [29]:
accident_by_year=data.groupby(['Year'])['State'].value_counts()
                              
accident_by_year

Year  State
2019  CA       493
      TX       170
      SC       135
      FL       126
      NC       114
              ...
2020  RI         3
      ND         1
      SD         1
      VT         1
      WV         1
Name: State, Length: 90, dtype: int64

In [27]:
data['Year'].value_counts()

2020    2741
2019    2173
Name: Year, dtype: int64

In [32]:
df=pd.DataFrame(accident_by_year)
df

            State
Year State
2019 CA       493
     TX       170
     SC       135
     FL       126
     NC       114
...           ...
2020 RI         3
     ND         1
     SD         1
     VT         1
     WV         1

[90 rows x 1 columns]

In [34]:
df.columns=['no_of_accidents']

In [46]:
df.head(60)

            no_of_accidents
Year State
2019 CA                 493
     TX                 170
     SC                 135
     FL                 126
     NC                 114
     NY                  94
     OR                  89
     AZ                  57
     GA                  56
     MI                  54
     UT                  54
     LA                  52
     IL                  51
     MN                  51
     VA                  51
     OK                  50
     PA                  50
     TN                  42
     WA                  41
     AL                  38
     CO                  37
     MO                  36
     NJ                  33
     OH                  31
     MD                  23
     WI                  20
     KY                  19
     MA                  18
     IN                  13
     CT                  12
     IA                   8
     NE                   8
     NV                   7
     NH                   6
     RI                   6
     KS                   5
     DE                   4
     ME                   4
     NM                   4
     WV                   3
     AR                   2
     DC                   2
     MS                   2
     VT                   2
2020 CA                 699
     FL                 299
     TX                 173
     SC                 168
     NC                 126
     NY                 110
     PA                 109
     OR                  89
     VA                  89
     MN                  87
     AZ                  77
     TN                  60
     LA                  54
     IL                  49
     GA                  47
     NJ                  47